/********************  Boaz formating start **********************/

body {
  max-width: 2570px;
  margin: auto;
}

body,
input,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 13px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(100deg, #08ae60, #08ae60, #08ae60);
  background-size: 180% 180%;
  width: 0;
  height: 25%;
  animation: gradient-animation 5s ease infinite;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: 0;
}

ul {
  list-style: none;
}

.cursor {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.grid-2,
.grid-3,
.grid-4,
.grid-7 {
  display: grid;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}

.float-right {
  float: right;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.t-end {
  text-align: end;
}

.t-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.animate-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

.bg-color-w {
  background-color: #fff;
}

.text-color {
  color: #001647;
}

.text-color-w {
  color: #fff;
}

.linear-font {
  background: linear-gradient(100deg, #001647, #155b9b, #001647);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-800 {
  font-weight: 800;
}

/********************   Animation formating start **********************/

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/********************   Animation formating end **********************/

/********************  Identical instructions start **********************/

.page__header {
  width: 19%;
  padding: 0.7em 2.5em 0.7em 5em;
  margin: 0.7em 0 3em 0;
  text-align: end;
}

.page__header--right {
  padding: 0;
  position: absolute;
  right: 0;
  top: -2.5%;
  padding: 0.7em 5em 0.7em 9.5em;
  width: max-content;
}

.page__header__h2,
.page__header__h3 {
  font-weight: 700;
  font-size: 2.7rem;
}

.slider-content__img,
.game-analysis-content__iTextBox__iBox__img,
.blog-content__postBox__box__iTextBox__img,
.subpage-content__fBox__iBox__img {
  width: 100%;
}

.slider-content__tBox__h5,
.blog-content__postBox__link {
  background: #08ae60;
}

.blog-content__h3,
.game-analysis-content__tBox__h5,
.game-analysis-content__tBox__iTextBox__tBox__h5 {
  color: #08ae60;
}

.game-analysis-content__iTextBox,
.game-analysis-content__NextiTextBox,
.game-analysis-content__tBox__iTextBox {
  align-items: center;
}

.game-analysis-content__iTextBox {
  background: var(--Dark-Green, #075a33);
}

.game-analysis-content__iTextBox__tBox,
.game-analysis-content__iTextBox__iBox,
.game-analysis-content__NextiTextBox__tBox,
.game-analysis-content__NextiTextBox__iBox {
  width: 50%;
}

h2,
h3,
h5,
.menu__list,
.page__header--right,
.blog-content__postBox__box__iTextBox__tBox__p,
.game-analysis-content__NextiTextBox__tBox__h4,
.game-analysis-content__tBox__iTextBox__tBox__p,
.game-analysis-content__iTextBox__tBox__h4 {
  margin: 0;
}

.blog-content__nextPostBox,
.bottom-next-content__tBox {
  border-left: 0.3em solid #08ae60;
  padding-left: 0.7em;
  margin-top: 1.3em;
}

.blog-link,
.blog-content__postBox__link {
  border-radius: 6px;
}

.blog-content__postBox__box__iTextBox__tBox__fBox {
  align-items: center;
  height: 3.5em;
}
/********************  Identical instructions end **********************/

/********************  Header formating start **********************/

.header {
  height: 0;
  z-index: 10;
}

.header-content {
  padding: 1em 7em;
}

.header-content-bg-special {
  background: #0c0c0c;
}

.header-content,
.header-content__nav-box,
.menu__list {
  align-items: center;
}

.header-content__logo-box {
  width: 20%;
}

.header-content__nav-box {
  width: 80%;
  justify-content: end;
}

.header-content__logo-box__link__img {
  width: 80%;
}

.menu__list {
  padding: 0;
  justify-content: end;
}

.menu__item {
  padding-left: 2em;
}

.menu__list__li__img {
  width: 45%;
}

/********************  Header formating end **********************/

/********************  Slider formating start **********************/

.slider-content__tBox {
  bottom: 15%;
  left: 9%;
  width: 33em;
}

.slider-content__tBox__h5 {
  width: max-content;
  padding: 0.5em 1em;
}

/********************  Slider formating end **********************/

/********************  Blog formating start **********************/

.sliding-element {
  display: none;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.sliding-element.active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.blog-content {
  padding: 0 9%;
}

.blog-content__postBox__box {
  margin-bottom: 10%;
}

.blog-content__h3 {
  margin-bottom: 2.7em;
}

.blog-content__h2 {
  margin-bottom: 0.3em;
}

.blog-content__postBox__lBox {
  margin: 5% 0 13% 0;
}

.blog-content__postBox__lBox--margin {
  margin: 3em 0 4em 0;
}

.blog-link {
  border: 1px solid var(--Dark, #080808);
}

.blog-link {
  padding: 0.7em 1em;
}

.blog-content__postBox__box {
  gap: 1.3em;
}

.blog-content__postBox__link {
  padding: 0.9em 1.5em;
}

.blog-content__postBox__box__iTextBox__tBox {
  border-radius: 9px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 0.5em 1em;
}

.blog-content__postBox__box__iTextBox__tBox__linkBox {
  padding: 2.3em 0 1.5em 0;
  border-top: 0.1em solid #d9d9d9;
  margin: 1.3em 0 0 0;
}

.blog-content__postBox__box__iTextBox__tBox__img {
  width: 1.3em;
  height: 2em;
  margin-right: 0.7em;
}

.blog-content__postBox__box__iTextBox__img {
  border-radius: 9px 9px 0px 0px;
}
/********************  Blog formating end **********************/

/********************  Game analysis formating start **********************/

.game-analysis-content__iTextBox,
.game-analysis-content__NextiTextBox {
  padding: 1em 9% 2em 9%;
}

.game-analysis-content__tBox {
  padding: 1em 9% 1.7em 9%;
}

.game-analysis-content__NextiTextBox__tBox {
  padding-left: 1em;
}

.game-analysis-content__tBox__p--margin {
  margin-bottom: 3em;
}

.game-analysis-content__iTextBox__iBox__img {
  margin: 1em 0;
}

.game-analysis-content__iTextBox--bg {
  background: linear-gradient(115deg, #ffda44 30.85%, #e9c133 91.18%);
}

.game-analysis-content__tBox__iTextBox {
  margin: auto;
  width: 70%;
  padding: 1em 0 2.3em 0;
}

.game-analysis-content__tBox__iTextBox__iBox__img {
  width: 6em;
}

.game-analysis-content__tBox__iTextBox__iBox {
  padding: 1.7em;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0.7em;
}

.game-analysis-content__tBox__iTextBox__tBox {
  margin-left: 2em;
}

.game-analysis-content__tBox__iTextBox__tBox__h5 {
  margin-bottom: 0.5em;
}

.game-analysis-content__tBox__h4 {
  margin: 2em 0 0 0;
}

/********************  Game analysis formating end **********************/

/********************  Bottom formating start **********************/

.bottom-content {
  background-image: url(/img/bottom.webp);
  background-size: cover;
  padding: 13em 9%;
}

.bottom-next-content {
  padding: 7em 9%;
}

.bottom-content__h6 {
  margin-bottom: 1em;
}

/********************  Bottom formating end **********************/

/********************  Footer formating start **********************/

.footer-content {
  background: var(--Dark, #080808);
  padding: 0 9% 4em 5%;
}

.footer-content__ilBox__img {
  width: 80%;
  margin: auto;
  display: block;
}

.footer-content__ilBox__social-links {
  margin-top: 2.5em;
}

.footer-content__ilBox__social-links__img {
  width: 2em;
  margin: 0 0.5em;
}

.footer-content__ilBox {
  width: 25%;
  margin-right: 7em;
}

.footer-content__linkBox {
  width: 20%;
}

.footer-content__DigitalSeedBrand {
  right: 0;
  bottom: 1em;
}

.footer-content__DigitalSeedBrand__img {
  width: 10em;
}

.footer-content__linkBox__box {
  flex-direction: column;
}

.footer-content__linkBox__box__link,
.footer-content__linkBox__p {
  margin-bottom: 1em;
}

.footer-content__linkBox__h5 {
  margin: 2em 0 1.7em 0;
}

/********************  Footer formating end **********************/

/********************  Subpage formating start **********************/

.supage-content {
  padding: 12% 7% 7% 7%;
  margin-bottom: 7%;
  border-bottom: 1px solid #d9d9d9;
}

.supage-content__fBox__iBox {
  width: 30%;
}

.supage-content__fBox__tBox {
  width: 70%;
  padding: 0 3% 0 3%;
}

.supage-content__lBox {
  margin-top: 3%;
}

.blog-content__postBox__link--format {
  padding: 1.3% 6% !important;
}
/********************  Subpage formating end **********************/

/********************  Media formating start **********************/

@media (min-width: 2200px) and (max-width: 2570px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1.5rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 1.4rem;
  }
  .slider-content__tBox {
    width: 43em;
  }
  .slider-content__tBox__h5 {
    font-size: 1.5rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 3rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.9rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 3.5em 0 2.5em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.6rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .blog-content__postBox__box__iTextBox__tBox__fBox {
    height: 5em;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 10em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.7em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.5rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 15em;
  }
}

@media (min-width: 2000px) and (max-width: 2200px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1.5rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 1.4rem;
  }
  .slider-content__tBox {
    width: 43em;
  }
  .slider-content__tBox__h5 {
    font-size: 1.5rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 3rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.9rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 3.5em 0 2.5em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.6rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .blog-content__postBox__box__iTextBox__tBox__fBox {
    height: 5em;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 10em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.7em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.5rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 15em;
  }
}
@media (min-width: 1800px) and (max-width: 2000px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1.3rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 1.2rem;
  }
  .slider-content__tBox {
    width: 37em;
  }
  .slider-content__tBox__h5 {
    font-size: 1.3rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 2.5rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.8rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2.5em 0 2em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.4rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .blog-content__postBox__box__iTextBox__tBox__fBox {
    height: 4.5em;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 8em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.7em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.4rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 13em;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1.2rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 1.1rem;
  }
  .slider-content__tBox {
    width: 35em;
  }
  .slider-content__tBox__h5 {
    font-size: 1.2rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 2.3rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.7rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2.5em 0 2em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.3rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .blog-content__postBox__box__iTextBox__tBox__fBox {
    height: 4.3em;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 7em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.5em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.3rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 11em;
  }
}

@media (min-width: 1500px) and (max-width: 1600px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1.1rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 1rem;
  }
  .slider-content__tBox {
    width: 30em;
  }
  .slider-content__tBox__h5 {
    font-size: 1.1rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 2.2rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.5rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2.5em 0 2em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.1rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 5em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.5em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.2rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 10em;
  }
}

@media (min-width: 1400px) and (max-width: 1500px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 1rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 0.9rem;
  }
  .menu__item {
    padding-left: 2.3em;
  }
  .slider-content__tBox {
    width: 30em;
  }
  .slider-content__tBox__h5 {
    font-size: 1rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 2rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.4rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2.5em 0 2em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1.1rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 6em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 40em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.5em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.2rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 10em;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 0.9rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content {
    padding: 1em 4em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 0.8rem;
  }
  .menu__item {
    padding-left: 2.3em;
  }
  .slider-content__tBox {
    width: 25em;
  }
  .slider-content__tBox__h5 {
    font-size: 0.9rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 1.8rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.5rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2.5em 0 2em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 5em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .game-analysis-content__tBox__iTextBox__tBox__p {
    width: 38em;
  }
  .bottom-content__h6 {
    margin-bottom: 0.5em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1.1rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 9em;
  }
  .supage-content {
    padding: 13% 5% 5% 5%;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 0.9rem;
  }
  .menu {
    margin-left: 3em;
  }
  .header-content {
    padding: 1em 3em;
  }
  .header-content__logo-box__link__img {
    width: 90%;
  }
  .menu__item {
    font-size: 0.65rem;
  }
  .menu__item {
    padding-left: 2.3em;
  }
  .slider-content__tBox {
    width: 25em;
  }
  .slider-content__tBox__h5 {
    font-size: 0.8rem;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 1.6rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.2rem;
  }
  .blog-content__postBox__link {
    padding: 0.9em 1.5em;
  }
  .blog-content__postBox__box__iTextBox__tBox__linkBox {
    padding: 2em 0 1.5em 0;
  }
  .blog-content__postBox__box {
    gap: 1.5em;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 0.9rem;
  }
  .blog-content__postBox__lBox {
    margin: 5% 0 13% 0;
  }
  .blog-content__postBox__lBox--margin {
    margin: 5em 0 5em 0;
  }
  .blog-content__postBox__box__iTextBox__tBox__fBox {
    height: 5em;
  }
  .game-analysis-content__iTextBox__tBox__h4 {
    width: 18em;
  }
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox {
    padding: 4em 9% 4em 9%;
  }
  .game-analysis-content__tBox__iTextBox {
    padding: 1em 0 3.5em 0;
    width: 80%;
  }
  .game-analysis-content__tBox__iTextBox__iBox__img {
    width: 4em;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    padding: 2.7em;
  }
  .bottom-content {
    padding: 9em 9%;
  }
  .bottom-content__h6 {
    margin-bottom: 0.5em;
  }
  .footer-content__linkBox__h5 {
    font-size: 1rem;
  }
  .footer-content__DigitalSeedBrand__img {
    width: 8em;
  }
  .supage-content {
    padding: 13% 5% 5% 5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 0.9rem;
  }
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 0.9rem;
  }
  .header-content {
    padding: 2em 4em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
    justify-content: unset;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #08ae60;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .header-content__logo-box__link__img {
    width: 22em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .header {
    z-index: 11;
  }
  .slider-content__tBox {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0c0c0c;
    margin-top: -5%;
  }
  .slider-content__tBox__h5 {
    width: max-content;
  }
  .slider-content__img,
  .slider-content__tBox {
    position: relative;
  }
  .slider-content__tBox {
    padding: 0 5em 2.5em 4em;
  }
  .blog-content {
    padding: 2em 7%;
  }
  .slider-content__tBox__h5 {
    font-size: 0.9rem;
  }
  .hamburger,
  .menu__list,
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox,
  .game-analysis-content__tBox__iTextBox,
  .footer-content,
  .supage-content__fBox {
    flex-direction: column;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 1.5rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.2rem;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1rem;
  }
  .game-analysis-content__iTextBox__tBox,
  .game-analysis-content__iTextBox__iBox,
  .game-analysis-content__NextiTextBox__tBox,
  .game-analysis-content__NextiTextBox__iBox,
  .game-analysis-content__tBox__iTextBox,
  .footer-content__linkBox,
  .supage-content__fBox__iBox,
  .supage-content__fBox__tBox {
    width: 100%;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    margin-bottom: 3.5em;
  }
  .game-analysis-content__tBox__iTextBox__tBox {
    margin-left: 0;
  }
  .blog-content__postBox__lBox {
    margin: 15% 0 25% 0;
  }
  .bottom-content {
    padding: 5em 9%;
  }
  .footer-content__ilBox {
    width: 80%;
    margin-right: 0;
  }
  .footer-content {
    padding: 0 9% 4em 9%;
  }
  .footer-content__ilBox__img {
    width: 18em;
    margin: auto;
    display: block;
  }
  .supage-content {
    padding: 33% 9% 7% 9%;
  }
}

@media screen and (max-width: 767px) {
  p,
  .footer-content__linkBox__box__link {
    font-size: 0.9rem;
  }
  .menu__item {
    font-weight: 600;
  }
  .menu__item {
    font-size: 0.9rem;
  }
  .header-content {
    padding: 1em;
    flex-direction: row-reverse;
    align-items: center;
  }
  .header-content__logo-box,
  .header-content__nav-box {
    width: 100%;
  }
  .header-content__nav-box {
    padding-left: 0.7em;
    justify-content: unset;
  }
  .menu__list__li:first-child {
    border-left: 0;
  }
  .hamburger,
  .menu {
    background-color: #08ae60;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 75%;
    height: 100%;
    transition: right 0.7s ease;
    z-index: 1000;
  }
  .menu--open {
    right: 0;
  }
  .menu__list {
    padding: 1.5em;
  }
  .menu__list__li {
    margin-bottom: 2em;
  }
  .menu__item {
    padding-left: 0.5em;
    color: #fff;
  }
  .menu__item--border-left {
    border-left: unset;
  }
  .hamburger {
    display: flex;
    justify-content: space-around;
    width: 4.3em;
    height: 3.7em;
    border: none;
    cursor: pointer;
    padding: 0.7em;
  }
  .bar {
    height: 0.23em;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s ease;
  }
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu__list {
    align-items: flex-start;
  }
  .header-content__logo-box__link__img {
    width: 15.9em;
  }
  .grid-3,
  .grid-7 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .page__header {
    width: 30%;
  }
  .page__header__h2,
  .page__header__h3 {
    font-size: 1.3rem;
  }
  .page__header.page__header--right {
    width: 40%;
    padding: 0.7em 5em 0.7em 2.5em;
  }
  .page__header--right {
    top: -1%;
  }
  .page__header--right--format {
    top: -2.3%;
  }
  .menu__list__li__img {
    width: 70%;
  }
  .header {
    z-index: 11;
  }
  .slider-content__tBox {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0c0c0c;
    margin-top: -5%;
  }
  .slider-content__tBox__h5 {
    width: 100%;
  }
  .slider-content__img,
  .slider-content__tBox {
    position: relative;
  }
  .slider-content__tBox {
    z-index: 10;
    padding: 0 2em 1em 2em;
  }
  .blog-content {
    padding: 2em 9%;
  }
  .slider-content__tBox__h5 {
    font-size: 0.9rem;
  }
  .hamburger,
  .menu__list,
  .game-analysis-content__iTextBox,
  .game-analysis-content__NextiTextBox,
  .game-analysis-content__tBox__iTextBox,
  .footer-content,
  .supage-content__fBox {
    flex-direction: column;
  }
  .slider-content__tBox__h1,
  .blog-content__h2,
  .game-analysis-content__iTextBox__tBox__h4,
  .game-analysis-content__NextiTextBox__tBox__h4,
  .game-analysis-content__tBox__h4,
  .bottom-content__h6,
  .bottom-next-content__h2,
  .supage-content__fBox__tBox__h3 {
    font-size: 1.3rem;
  }
  .blog-content__h3,
  .game-analysis-content__tBox__h5,
  .game-analysis-content__tBox__iTextBox__tBox__h5 {
    font-size: 1.1rem;
  }
  .blog-link,
  .blog-content__postBox__link {
    font-size: 1rem;
  }
  .blog-content__postBox__lBox {
    margin: 15% 0 25% 0;
  }
  .game-analysis-content__iTextBox__tBox,
  .game-analysis-content__iTextBox__iBox,
  .game-analysis-content__NextiTextBox__tBox,
  .game-analysis-content__NextiTextBox__iBox,
  .game-analysis-content__tBox__iTextBox,
  .footer-content__linkBox,
  .supage-content__fBox__iBox,
  .supage-content__fBox__tBox {
    width: 100%;
  }
  .game-analysis-content__tBox__iTextBox__iBox {
    margin-bottom: 4em;
  }
  .game-analysis-content__tBox__iTextBox__tBox {
    margin-left: 0;
  }
  .bottom-content {
    padding: 5em 9%;
  }
  .footer-content__ilBox {
    width: 80%;
    margin-right: 0;
  }
  .footer-content {
    padding: 0 9% 4em 9%;
  }
  .footer-content__ilBox__img {
    width: 13em;
  }
  .supage-content {
    padding: 50% 9% 7% 9%;
  }
}

@media (min-width: 640px) and (max-width: 768px) {
}

@media (min-width: 500px) and (max-width: 640px) {
}

@media (min-width: 400px) and (max-width: 500px) {
}

@media (min-width: 300px) and (max-width: 400px) {
}

/********************  Media formating end **********************/

/********************  Boaz formating end **********************/
